@import url(https://fonts.googleapis.com/css?family=Raleway:300);
@import "./bootstrap/bootstrap.less";

@font-family-sans-serif:  'Raleway', Helvetica, Arial, sans-serif;
@font-family-serif:       Georgia, "Times New Roman", Times, serif;
// @body-bg: #BB0001;
@brand-primary: #DC403B;

@navbar-default-color:             #eee;
@navbar-default-bg:                @brand-primary;
@navbar-default-border:            darken(@navbar-default-bg, 6.5%);

@navbar-default-link-color:                @navbar-default-color;
@navbar-default-link-hover-color:          darken(@navbar-default-color, 10%);
@navbar-default-link-hover-bg:             transparent;
@navbar-default-link-active-color:         darken(@navbar-default-color, 10%);
@navbar-default-link-active-bg:            transparent;
@navbar-default-link-disabled-color:       darken(@navbar-default-color, 30%);
@navbar-default-link-disabled-bg:          transparent;

// Navbar brand label
@navbar-default-brand-color:               @navbar-default-link-color;
@navbar-default-brand-hover-color:         @navbar-default-link-hover-color;
@navbar-default-brand-hover-bg:            transparent;

// Navbar toggle
@navbar-default-toggle-hover-bg:           transparent;
@navbar-default-toggle-icon-bar-bg:        @navbar-default-link-color;
@navbar-default-toggle-border-color:       transparent;

// @btn-primary-color: @gray-dark;
#travel {
  .navbar-travel {
    .navbar-header {
      //float: left;
      //padding: 15px;
      //text-align: center;
      //width: 100%;
      //.navbar-brand {
      //  display: inline-block;
      //  float: none;
      //}

      button {
        margin: 8px 15px;
        &.menu {
          float:left;
        }
      }
    }
  }

  .splash {
    background-image: url("/images/gili.jpeg");
    background-size: cover;
    background-position: center center;
    width: 100vw;
    height: 30vh;
    margin: 0 0 5vh 0;
    color: #fff;
    text-shadow: 1px 1px 1px @gray-dark;
  }

  .feed-user {
    &.online {
      h3 {
        font-weight: bold;
      }
    }
  }
  .tag {
    margin: 0 3px;
    white-space:pre;
    display: inline-block;
    .tag-button {
      margin: 0 0 0 3px;
    }
  }
  .tag-cloud {
    margin: 0 0 30px 0;
  }
  #main-frame {
    margin-top:70px;
  }
  .profile-picture {
    background: #ccc;
    height: 30vh;
    width: 100%;
    margin-bottom: 40px;
    position: relative;
    .preview {
      position: absolute;
      left:0;
      top:0;
      right:0;
      bottom: 0;
      background-position: center center;
      background-size: cover;
    }
    .buttons {
      position:absolute;
      bottom:10px;
      right: 5px;
      .glyphicon {
        margin: 5px 10px;
        text-shadow: 0 0 3px #fff;
      }
    }
  }
  .user {
    .image {
      height: 80vw;
      max-height:350px;
      display: block;
      background-position: center center;
      background-size: cover;
    }
  }
}
