@import url(https://fonts.googleapis.com/css?family=Raleway:300);
@import "./bootstrap/bootstrap.less";

@font-family-sans-serif:  'Raleway', Helvetica, Arial, sans-serif;
@font-family-serif:       Georgia, "Times New Roman", Times, serif;
// @body-bg: #BB0001;
@brand-primary: #DC403B;
@brand-info: #F39A00;

@navbar-default-color:             #eee;
@navbar-default-bg:                @brand-primary;
@navbar-default-border:            darken(@navbar-default-bg, 6.5%);

@navbar-default-link-color:                @navbar-default-color;
@navbar-default-link-hover-color:          darken(@navbar-default-color, 10%);
@navbar-default-link-hover-bg:             transparent;
@navbar-default-link-active-color:         darken(@navbar-default-color, 10%);
@navbar-default-link-active-bg:            transparent;
@navbar-default-link-disabled-color:       darken(@navbar-default-color, 30%);
@navbar-default-link-disabled-bg:          transparent;

// Navbar brand label
@navbar-default-brand-color:               @navbar-default-link-color;
@navbar-default-brand-hover-color:         @navbar-default-link-hover-color;
@navbar-default-brand-hover-bg:            transparent;

// Navbar toggle
@navbar-default-toggle-hover-bg:           transparent;
@navbar-default-toggle-icon-bar-bg:        @navbar-default-link-color;
@navbar-default-toggle-border-color:       transparent;

@nav-size: 50px;
@nav-font: 20px;
// @btn-primary-color: @gray-dark;
body, html {
  height: 100%;
}
.travel-user {
  .online {
    margin-left: 1em;
    .text-success;
  }
  .name {
    font-weight: bold;
  }
}
.travel-location {
  .name {
    font-weight: bold;
  }
}

.user-small {
  p {
    margin: 0 0 5px 0;
  }
  .about {
    display: none;
  }
  .picture {
    width: 40px;
    height: 40px;
  }
  .distance {
    display: none;
  }
  .description {
    display: none;
  }
}
.user-medium, .location-medium {
  p {
    margin: 0 0 5px 0;
  }
  display: block;
  position: relative;
  padding: 0 0 0 90px;
  min-height:80px;
  .picture {
    .img-circle;
    width: 80px;
    height: 80px;
    left:0;
    top:0;
    position: absolute;

  }
}

.location-large, .user-large {
  p {
    margin: 0 0 5px 0;
  }
  display: block;
  position: relative;
  padding: 10px 10px 10px 215px;
  min-height: 210px;
  .picture {
    .img-thumbnail;
    position: absolute;
    left: 5px;
    top: 5px;
    width:200px;
    height: 200px;
  }
  @media (max-width: @screen-xs) {
    min-height: 160px;
    padding: 5px 5px 5px 165px;
    .picture {
      height:150px;
      width:150px;

    }
  }
}

#travel {
  .navbar-travel {
    height: @nav-size;
    .nav-item {
      width: 20%;
      height: @nav-size;
      display: inline-block;
      text-align: center;
      a {
        color:#fff;
        font-size: @nav-font;
        line-height: @nav-size;
        &:hover, &:active, &:focus {
          text-decoration: none;
        }
        i {
          margin-right: 10px;
        }
      }
    }
  }

  .user-conversation {
    display: inline-block;
    margin: 4px 0 4px 0;
    width:50%;
    img {
      height: 40px;
      display: inline-block;
      margin: 0 10px 0 0;
    }
  }

  .splash {
    background-color: @brand-primary;
    background-size: cover;
    background-position: center center;
    width: 100vw;
    height: 100vh;
    color: #fff;
    text-shadow: 1px 1px 1px @gray-dark;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    > .container {
      display: inline-block;
      height: auto;
    }
    form {
      > input, > .input-group {
        margin: 20px 0;
      }
    }
    .btn-splash {
      width:100%;
      display: block;
      color: #fff;
      background: none;
      border:none;
      font-family: @font-family-sans-serif;
      font-size: 14px;
      line-height: 14px;
      font-weight: normal;
      text-shadow: 1px 1px 1px @gray-dark;
      i {
        margin: 0 0 0 0.5em;
      }
    }
  }

  .tag {
    margin: 0 3px;
    white-space:pre;
    display: inline-block;
    .tag-button {
      margin: 0 0 0 3px;
    }
  }
  .tag-cloud {
    margin: 0 0 30px 0;
  }
  #main-frame {
    overflow-y: auto;
    overflow-x: hidden;
    position: absolute;
    left:0;
    top:0;
    bottom:60px;
    right:0;
    .fullheight {
      height: 100%;
      position: relative;
    }
    .fullheight-scroll {
      height: 100%;
      overflow-y: auto;
      position: relative;
    }
  }
  @media (min-width: @screen-md-min) {
    .feed {
      .container;
    }
  }
  .feed {
    .filter {
      margin-bottom: 20px;
    }
  }
  .split {
    position: relative;
    width: 100%;
    .item {
      width: 100%;
      display: block;
      position: relative;
      margin: 0 0 20px 0;
    }
    @media (min-width: @screen-md-min) {
      .item {
        float:left;
        width:50%;
        &:nth-child(2n+1) {
            clear:left
        }
      }
    }
  }
  .conversation-content {

    .message {
      height: 100%;
      position: relative;
      .message-input {
        position: absolute;
        bottom: 0;
        width: 100%;
      }
      .message-list {
        position: absolute;
        left:0;
        bottom: 40px;
        right: 0;
        top:0;
        overflow-y: auto;
        .message-group {
          background-color: #F2F2F2;
          border-radius: 5px;
          box-shadow: 0 0 6px #B2B2B2;
          display: inline-block;
          padding: 10px 18px;
          position: relative;
          vertical-align: top;
          clear: both;
          .travel-user {
            .user-small;
            .picture {
              .img-circle;
              width:40px;
              height:40px;
              top: 5px;
              position: absolute;
            }
            .online {
              display: none;
            }
          }
          p {
            margin: 0 0 5px 0;
          }
          &::before {
            background-color: #F2F2F2;
            content: "\00a0";
            display: block;
            height: 16px;
            position: absolute;
            top: 11px;
            transform:             rotate( 29deg ) skew( -35deg );
                -moz-transform:    rotate( 29deg ) skew( -35deg );
                -ms-transform:     rotate( 29deg ) skew( -35deg );
                -o-transform:      rotate( 29deg ) skew( -35deg );
                -webkit-transform: rotate( 29deg ) skew( -35deg );
            width:  20px;
          }

          &.self {
            float: left;
            padding-left: 60px;
            margin: 5px 45px 5px 20px;
            &::before {
              box-shadow: -2px 2px 2px 0 rgba( 178, 178, 178, .4 );
              left: -9px;
            }
            .travel-user .picture {
              left:5px;
            }

          }
          &.other {
            float: right;
            padding-right: 60px;
            margin: 5px 20px 5px 45px;
            &::before {
              box-shadow: 2px -2px 2px 0 rgba( 178, 178, 178, .4 );
              right: -9px;
            }
            .travel-user .picture {
              right:5px;
            }
          }


        }
      }
    }
  }
}
