.message
  .message-list(scroll-bottom="DetailCtrl.messageGroups")
    .message-group(ng-repeat="group in DetailCtrl.messageGroups", ng-class="{'self': group.user._id == TravelCtrl.profile._id, 'other': group.user._id != TravelCtrl.profile._id}")
      travel-user(user="group.user", user-clickable)
      p(ng-repeat="message in group.messages") {{message.content}}
  .message-input
    form(ng-submit="DetailCtrl.submit()")
      .input-group
        input.form-control(type="text", ng-model="DetailCtrl.message")
        .input-group-btn
          button.btn.btn-primary(type="submit")
            span.glyphicon.glyphicon-send
