.travel-user
  p.name {{user.name}}
    i.fa.fa-circle.online(ng-if="user.online == true")
  img.picture(res-src="user.image")
  p.description {{description}}
  p.distance {{user.distance | distance}}
  p.about {{user.about | limitTo:50}}    
