extends index
block scripts
  script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCojWBExTS09tpyxIddV2u58FmIGSt78_A&signed_in=true")
  script(src="/client/admin.min.js")
block styles
  link(href="/client/admin.min.css",rel="stylesheet",type="text/css")
