.container
  .row
    .col-sm-6.text-center
      img.img-responsive.img-thumbnail(res-src="DetailCtrl.location.image")
      
    .col-sm-6
      h2 {{DetailCtrl.location.name}}
      p {{DetailCtrl.location.address}}
      p {{DetailCtrl.location.distance | distance}}
      button.btn.btn-primary.btn-block(ng-disabled="loading", ng-if="DetailCtrl.status == false", ng-click="DetailCtrl.setStatus(true)") I want to go
      button.btn.btn-default.btn-block(ng-disabled="loading", ng-if="DetailCtrl.status == true", ng-click="DetailCtrl.setStatus(false)") No more interest

.container(ng-if="DetailCtrl.users.length")
  h2 Users that want to go
  .split
    travel-user.user-medium.item(ng-repeat="user in DetailCtrl.users", user="user", ui-sref="travel.user.detail({user: user._id})")
