h1 Locations
.input-group
  input.form-control(type="text", placeholder="name", ng-model="search")
  .input-group-btn
    button.btn.btn-primary(ng-click="LocationCtrl.add(search)") Add Location
.list-group
  div.list-group-item(ng-repeat="location in LocationCtrl.locations | filter:search", ui-sref=".detail({location: location._id})")
    h4 {{location.name}}
    p {{location.address}}
