div.list-group-item(ng-if="item.type == 'location'", ui-sref="travel.location.detail({location:item.location._id})")
  h4 {{item.location.name}}
  p {{item.location.address}}
  p {{description}}
  p(ng-if="item.distance") {{item.distance.formatted}}

div.list-group-item.user(ui-sref="travel.user.detail({user:[item.user._id]})", ng-if="item.type == 'user'")
  .image(ng-if="item.user.image", style="background-image:url('{{item.user.image.large}}');")
  p
    b {{item.user.name}}
  p {{description}}
  p(ng-if="item.user.online == true")
    span.label.label-success Online
