.container
  .row
    .col-md-6
      h2 Profile Picture
      div(ngf-select, ngf-resize="{width:500, height:500, quality:0.95}", ng-model="ProfileCtrl.profile.file",accept="image/*")
        img.img-responsive.img-thumbnail(ng-if="!ProfileCtrl.profile.file", src="{{ProfileCtrl.profile.image.large}}")
        img.img-responsive.img-thumbnail(ng-if="ProfileCtrl.profile.file", ngf-src="ProfileCtrl.profile.file")
      p click on your profile picture to upload a new one!
    .col-md-6
      h2 Details
      form
        .form-group
          label.control-label Name
          input.form-control(type="text", ng-model="ProfileCtrl.profile.name", required)

        .form-group
          label.control-label Nationality
          input.form-control(type="text", ng-model="ProfileCtrl.profile.country")

        .form-group
          label.control-label Profession
          input.form-control(type="text", ng-model="ProfileCtrl.profile.profession")

        .form-group
          label.control-label About me
          textarea.form-control(rows="2", ng-model="ProfileCtrl.profile.about")

        .form-group
          button.btn.btn-primary.btn-block(ng-disabled="loading", ng-click="ProfileCtrl.update()") Save
