extends ../splash
block content
  form
    .form-group
      label your password
      .input-group
        input.form-control(type="password", placeholder="password", ng-model="LoginCtrl.password", required)
        .input-group-btn
          button.btn.btn-primary(ng-click="LoginCtrl.continue()") Go
