extends ../splash
block content
  h1 Welcome back!
  p We know you! You've been here before. Sign in to your account with your password.
  hr
  form
    .form-group
      p your password
      input.form-control(type="password", placeholder="password", ng-model="LoginCtrl.password", required, autofocus)
    .form-group
      button.btn-splash(ng-disabled="loading", ng-click="LoginCtrl.continue()") Login
        i.fa.fa-check
