nav#menu.navmenu.navmenu-default.navmenu-fixed-left.offcanvas
  .container
    ul.nav.navbar-nav
      li
        a(ng-click="TravelCtrl.go('travel.feed')") Feed
      li
        a(ng-click="TravelCtrl.go('travel.location')") Places
      li
        a(ng-click="TravelCtrl.go('travel.conversation')") Messages
      li
        a(ng-click="TravelCtrl.go('travel.profile')") Edit profile
      li
        a(ng-click="TravelCtrl.logout()") Logout

.navbar.navbar-default.navbar-fixed-top.navbar-travel
  .navbar-header
    button.menu.navbar-toggle(data-toggle="offcanvas", data-target="#menu", data-canvas="body")
      span.icon-bar
      span.icon-bar
      span.icon-bar
    a.navbar-brand(ui-sref="travel.feed") {{TravelCtrl.profile.name}}



#main-frame.container(ui-view="content")
