#main-frame(ui-view="content")
.navbar.navbar-default.navbar-fixed-bottom.navbar-travel
  .nav-item 
    a(ng-click="TravelCtrl.go('travel.feed')")
      i.fa.fa-rss
      span.hidden-xs Feed
  .nav-item 
    a(ng-click="TravelCtrl.go('travel.location')")
      i.fa.fa-heart
      span.hidden-xs Locations
  .nav-item  
    a(ng-click="TravelCtrl.go('travel.conversation')")
      i.fa.fa-envelope
      span.hidden-xs Messages
  .nav-item  
    a(ng-click="TravelCtrl.go('travel.profile')")
      i.fa.fa-pencil-square-o
      span.hidden-xs Edit Profile
  .nav-item  
    a(ng-click="TravelCtrl.logout()")
      i.fa.fa-sign-out
      span.hidden-xs Logout
        
