.container
  .row
    .col-sm-4
      ul.nav.nav-pills.nav-stacked
        li
          a(ui-sref=".feed") Feed
        li
          a(ui-sref=".user") Edit profile
        li
          a(ui-sref=".message") Messages
        li(ng-if="user.admin == true")
          a(ui-sref="admin") Administration
        li
          a(ng-click="TravelCtrl.logout()") Logout
    .col-sm-8(ui-view="content")
