form.form-horizontal

  .form-group
    label.col-sm-4.control-label Name
    .col-sm-8
      input.form-control(type="text", ng-model="UserCtrl.data.name")

  .form-group
    label.col-sm-4.control-label Nationality
    .col-sm-8
      input.form-control(type="text", ng-model="UserCtrl.data.country")

  .form-group
    label.col-sm-4.control-label Profession
    .col-sm-8
      input.form-control(type="text", ng-model="UserCtrl.data.profession")

  .form-group
    label.col-sm-4.control-label About me
    .col-sm-8
      textarea.form-control(rows="2", ng-model="UserCtrl.data.about")
  hr
  //-
    .form-group
      label.col-sm-4.control-label Password
      .col-sm-8
        input.form-control(type="password", ng-model="user.newpassword")
    .form-group
      label.col-sm-4.control-label Repeat Password
      .col-sm-8
        input.form-control(type="password", ng-model="user.newpasswordRepeat")
    hr

  .form-group
    .col-sm-8.col-sm-offset-4
      a(ui-sref="travel").btn.btn-default Cancel
      button.btn.btn-primary(ng-click="UserCtrl.update()") Save
